* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 0.2fr;
    grid-template-rows: 0.2fr 1fr 1fr 1fr;
    grid-template-areas: "title title title"
        "reco deploiement-reco objectif-reco"
        "comm deploiement-comm objectif-comm"
        "prep deploiement-prep affichage-rapport";
    gap: 1vh 1vw;
    margin: 1vh 1vw;
    width: 97vw;
    height: 97vh;
}

.grid-deploiement {
    border: solid black 2px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.deploiement-interne {
    display: grid;
    grid-template-columns : repeat(auto-fit, minmax(min(50px,100%), 1fr));
    overflow-y: hidden;
}

.grid-objectif {
    border: solid black 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reco {
    grid-area: reco;
}

.deploiement-reco {
    grid-area: deploiement-reco;
}

.objectif-reco {
    grid-area: objectif-reco;
}

.comm {
    grid-area: comm;
}

.deploiement-comm {
    grid-area: deploiement-comm;
}

.objectif-comm {
    grid-area: objectif-comm;
}

.prep {
    grid-area: prep;
}

.deploiement-prep {
    grid-area: deploiement-prep;
}

.affichage-rapport {
    grid-area: affichage-rapport;
}

h1 {
    grid-area: title;
    text-align: center;
    padding: 1%;
    text-transform: uppercase;
    border: solid black 2px;
}

img {
    width:auto;
    height:2em;
}