* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --color-primary : cornsilk;
    --color-secondary : wheat;
    --color-tertiary : azure;
}

body {
    background-color: var(--color-tertiary);
    font-family: Cinzel, serif;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 0.2fr;
    grid-template-rows: 0.2fr 1fr 1fr 1fr;
    grid-template-areas: "title title title"
        "reco deploiement-reco objectif-reco"
        "comm deploiement-comm objectif-comm"
        "prep deploiement-prep affichage-rapport";
    gap: 1vh 1vw;
    margin: 1vh 1vw;
    width: 97vw;
    height: 97vh;
}

em{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
}

label {
    font-weight: bold;
}

h1, 
.grid-deploiement,
.grid-objectif {
    border: none;
    border-radius : 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 4px 6px;
}

h1 {
    grid-area: title;
    text-align: center;
    padding: 1%;
    text-transform: uppercase;
    background-color: var(--color-secondary);
    font-family: Cinzel;
}

.grid-deploiement {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--color-primary);
}

.deploiement-interne {
    display: grid;
    grid-template-columns : repeat(auto-fit, minmax(min(50px,100%), 1fr));
    overflow-y: hidden;
    border-right: 3px dashed var(--color-tertiary);
}

.infos,
.entretien,
.projet {
    border: none;
}

.grid-objectif {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-secondary);
}

.grid-mission {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "titre2 titre2 titre2";
}

.grid-mission h2 {
    grid-area : titre2;
    text-align: center;
}

.mission-element {
    text-align: center;
}

.reco {
    grid-area: reco;
}

.deploiement-reco {
    grid-area: deploiement-reco;
}

.objectif-reco {
    grid-area: objectif-reco;
}

.comm {
    grid-area: comm;
}

.deploiement-comm {
    grid-area: deploiement-comm;
}

.objectif-comm {
    grid-area: objectif-comm;
}

.prep {
    grid-area: prep;
}

.deploiement-prep {
    grid-area: deploiement-prep;
}

.affichage-rapport {
    grid-area: affichage-rapport;
}

img {
    width: auto;
    height: 2em;
}

button img {
    height: 70px;
    width: auto;
}

button {
    background-color: var(--color-secondary); 
    border-radius : 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 1.95px 1.95px 2.6px;
}

button:active {
    box-shadow: none;
}

button:hover {
    opacity: 80%;
}

label {
    visibility: hidden;
    margin-top: 2em;
}

button:hover ~ label {
    visibility: visible;
}

input[type='number']{
    max-width: 17px;
    height: 30px;
    font-size : 2em;
} 

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
}

.obj, 
.score {
    color: red;
}