* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --color-primary : cornsilk;
    --color-secondary : wheat;
    --color-tertiary : azure;
}

body {
    background-color: var(--color-tertiary);
    font-family: Cinzel, serif;
}

a{
    color: inherit;
}

.jeu {
    display: grid;
    grid-template-columns: 1fr 1fr 0.2fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "reco deploiement-reco objectif-reco"
        "comm deploiement-comm objectif-comm"
        "prep deploiement-prep affichage-rapport";
    gap: 1vh 1vw;
    margin: 1vh 1vw;
    width: 97vw;
    height: 86vh;
}

em {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
}

label {
    font-weight: bold;
}
 
header,
.intro h2,
.grid-deploiement,
.grid-objectif {
    border: none;
    border-radius : 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 4px 6px;
}

header {
    display: flex;
    align-items: center;
    background-color: var(--color-secondary);
    margin: 1vh 1vw;
    height: 10vh;
    width: 97vw;
    position: relative;
}

nav {
    padding: 20px;
    position: absolute;
}

.vers-campagne {
    position: absolute;
    right: 2%;
}

.vers-intro {
    left: 2%;
}

nav a {
    text-decoration: none;
    font-size: 1.1em;
}

nav a:visited {
    text-decoration: none;
    color: inherit;
}

h1 {
    padding: 1%;
    text-transform: uppercase;
    font-family: Cinzel;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
}

.jeu h2 {
    grid-area : titre2;
    text-align: center;
}

.grid-deploiement {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--color-primary);
}

.deploiement-interne {
    display: grid;
    grid-template-columns : repeat(auto-fit, minmax(min(50px,100%), 1fr));
    overflow-y: hidden;
    border-right: 3px dashed var(--color-tertiary);
}

.infos,
.entretien,
.projet {
    border: none;
}

.grid-objectif {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-secondary);
}

.grid-mission {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "titre2 titre2 titre2";
}

.mission-element {
    text-align: center;
}

.reco {
    grid-area: reco;
}

.deploiement-reco {
    grid-area: deploiement-reco;
}

.objectif-reco {
    grid-area: objectif-reco;
}

.comm {
    grid-area: comm;
}

.deploiement-comm {
    grid-area: deploiement-comm;
}

.objectif-comm {
    grid-area: objectif-comm;
}

.prep {
    grid-area: prep;
}

.deploiement-prep {
    grid-area: deploiement-prep;
}

.affichage-rapport {
    grid-area: affichage-rapport;
}

.affichage-rapport img {
    transform: scale(2);
}

img {
    width: auto;
    height: 2em;
}

button img {
    height: 70px;
    width: auto;
}

button {
    background-color: var(--color-secondary); 
    border-radius : 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 1.95px 1.95px 2.6px;
}

button:hover {
    opacity: 80%;
}

label {
    visibility: hidden;
}

button:hover ~ label {
    visibility: visible;
}

input[type='number']{
    max-width: 17px;
    height: 30px;
    font-size : 2em;
} 

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
}

.obj, 
.score {
    color: red;
}

/* Page d'intro */

.texte-intro {
    font-family : Philosopher, serif;
    font-size : 1.2em;
    padding: 20px;
    text-align: justify;
    line-height: 1.5;
}

.titre-intro {
    text-align: center;
}

strong {
    font-family: Cinza;
}

.legende {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px 30px;
    grid-auto-flow: column;
}

footer {
    font-family: Montserrat, sans-serif;
    text-align: right;
}

.pitch {
    text-align: center;
    padding: 8% 20%;
}

.instructions {
    text-align: justify;
    padding: 3% 7%;
}

.intro h2 {
    background-color: var(--color-secondary);
    width: 97vw;
    margin: auto;
}